
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.containerPerGraficaGrande{
  text-align: center;

}

h3 {
   margin-block-end: 0;
}
.lezioni p, .steps p, .why p {
  text-align: justify;
}
/* BLOCCO LEZIONI */

.lezioni {
  margin-bottom: 2vh;
}

.lezioni img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.steps {
  float: left;
  background-color: #f9f9f9;
  margin-bottom: 2vh;
}

.steps img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.why {
  float: left;
  background-color: #f9f9f9;
}

.why img{
  height: auto;
  width: 40%;
  background-color:#428bca;
  border-radius:50%;
  padding:25px
}

/* ************************************************************ */
/********************** AGGIUNTA DI MEDIAQUERY ******************/
/* ************************************************************ */
@media all and (max-width: 768px){
/* lezioni */
  .aCasa img{
    height: auto;
    width: 38%;
  }

  .online img {
    height: auto;
    width: 42%;
  }
/* steps */
  .steps img{
    height: auto;
    width: 30%;
  }
/* why */
  .why img {
    height: auto;
    width: 30%;
    background-color:#428bca;
    border-radius:50%;
    padding:20px
  }
  /* testo sezione why */
  .flessibile p, .soddisfazione p, .piuGrande p {
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

}
@media all and (min-width: 768px) and (max-width: 992px){
  .online img {
    margin-top: 4vh;
    width: 70%;
  }

}

@media all and (min-width: 992px){
  /* alla visoine grande tolgo il margin bottom a steps */
 .steps{
   margin-bottom: 0vh;
 }
}
